@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-10px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.nav {
  background-color: rgb(107, 7, 107);
  width: 100%;
  height: 200px;

  #logo {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 30px;
  }

  #logo:hover {
    animation: bounce 1s;
  }

  img {
    border-radius: 50px;
    width: 100%;
    height: 350px;
  }
}
